/.vscode
/1.cpp
/1.exe
/2.cpp
/2.exe
/3.cpp
/3.exe
/4.cpp
/4.exe
/5.exe
/basic.cpp
/basic.exe
/first.cpp
/first.exe
/forloop.cpp
/forloopadv.cpp
/forloopadv.exe
/if_else.cpp
/if_else.exe
/pattern printing.cpp